*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0px;
	outline: none;
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#loader{
	background-image: url(images/rocket.png), url(images/sky.jpg);
	background-position: center, 0 0;
	background-size: 125px 125px, 100% 100%;
	background-repeat: no-repeat, repeat;
	position: fixed;
	top: 0px;
	z-index: 10;
	left: 0px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	transition: opacity 0.5s;
}

#loader::before, #loader::after{
	position: absolute;
	left: var(--bf);
	content: "";
	height: 10px;
	width: 100vw;
	animation: load 1.5s infinite linear;
}

#loader::before{
	--bf: -100vw;
	--af: 100vw;
	top: 0px;
	background-image: linear-gradient(to right, #d82e44, #e45a6e);
}

#loader::after{
	--bf: 100vw;
	--af: -100vw;
	top: calc(100% - 10px);
	background-image: linear-gradient(to right, #e45a6e, #d82e44);
}

@keyframes load{
	0%{
		left: var(--bf);
	}
	100%{
		left: var(--af);
	}
}

header{
	height: min(40%, 300px);
	background-image: url(images/pattern-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#title{
	padding: 30px;
	text-align: center;
	color: white;
	font-size: 28px;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
}

#searchBox{
	margin: 0 auto;
	width: min(550px, 85vw);
	height: 50px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	overflow: hidden;
}

#search{
	display: block;
	width: 50px;
	background-color: black;
	cursor: pointer;
	background-image: url(images/icon-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
}

#search:active{
	background-color: hsl(0, 0%, 17%);
}

#search:disabled{
	background-image: url(images/giphy.webp);
	background-size: cover;
	cursor: not-allowed;
}

#ipHolder{
	display: block;
	flex-grow: 1;
	font-size: 18px;
	padding: 0px 25px;
	cursor: pointer;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

#ipHolder::placeholder{
	color: hsl(0, 0%, 59%);
}

#info{
	width: 75%;
	background-color: white;
	margin: 35px auto 0px auto;
	padding: 35px 0px;
	border-radius: 15px;
	display: flex;
	position: relative;
	z-index: 5;
	box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.infoField{
	width: 25%;
	padding: 0px 25px;
}

.infoField:not(:last-child){
	border-right: 1px solid;
	border-image: linear-gradient(to bottom, white 12%, hsl(0, 0%, 70%) 12%, hsl(0, 0%, 70%) 88%, white 88%) 5;
}

.fieldTitle{
	font-size: 13px;
	color: hsl(0, 0%, 59%);
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	margin-bottom: 11px;
}

.fieldDetail{
	font-family: "Rubik", sans-serif;
	font-size: 20px;
	color: black;
	font-weight: 500;
}

main{
	flex-grow: 1;
	position: relative;
	z-index: 4;
}

@media(max-width: 550px){
	#info{
		width: 85%;
		flex-wrap: wrap;
	}
	.infoField{
		width: 100%;
	}
	.infoField:not(:last-child){
		border-right: 0px;
		margin-bottom: 10px;
	}
	.fieldTitle, .fieldDetail{
		text-align: center;
	}
}